<% content_for :title, "無料オンライン相談申し込み | 株式会社IT Coach" %>
<% content_for :meta_description, "無料オンライン相談申し込みページです。" %>
<% content_for :meta_keywords, "SNSマーケティング,EC・ネットショップ,Webマーケティング,Web制作,Webコンサル,ECコンサル,Webディレクション,戦略,企画,内製化,インハウス" %>
<% content_for :og_title, "無料オンライン相談申し込み | 株式会社IT Coach" %>
<% content_for :og_description, "無料オンライン相談申し込みページ" %>

<div class="space-y-8 sm:space-y-12 bg-backgroundGray pt-4 sm:pt-6 pb-20 sm:pb-30">
  <div class="py-12 sm:py-20 bg-white px-5 sm:px-30">
    <div class="text-center">
      <h1 class="h1_text">無料オンライン相談申し込み</h1>
      <p class="base_text mt-8 sm:mt-6">補助金に関するメルマガよりオンライン相談に興味をもっていただきありがとうございます。<br>無料オンライン相談を希望される方は、以下のフォームよりお申し込みください。<br>弊社担当者より折り返しご連絡をいたします。</p>
    </div>

    <%= form_with model: @form, url: free_consultation_realization_path, local: true, method: :post, class: "space-y-16" do |form| %>

      <%= render "shared/errors", model: @form %>

      <div class="space-y-4">
        <div class="flex items-center">
          <%= form.label :name, "名前", class: "form_label" %>
          <span class="sub_text">（必須）</span>
        </div>
        <%= form.text_field :name, placeholder: "名前", class: "text_field w-full sm:w-6/12", id: "contact_name" %>
      </div>
      <div class="space-y-4">
        <div class="flex items-center">
          <%= form.label :company, "会社名・事業者名", class: "form_label" %>
          <span class="sub_text">（必須）</span>
        </div>
        <%= form.text_field :company, placeholder: "会社名・事業者名", class: "text_field w-full sm:w-6/12" %>
      </div>
      <div class="space-y-4">
        <div class="flex items-center">
          <%= form.label :role, "役職", class: "form_label" %>
          <span class="sub_text">（必須）</span>
        </div>
        <%= form.text_field :role, placeholder: "役職", class: "text_field w-full sm:w-6/12" %>
      </div>
      <div class="space-y-4">
        <div class="flex items-center">
          <%= form.label :email, "メールアドレス", class: "form_label" %>
          <span class="sub_text">（必須）</span>
        </div>
        <%= form.text_field :email, placeholder: "メールアドレス", class: "text_field w-full sm:w-6/12" %>
      </div>
      <div class="space-y-4">
        <div class="flex items-center">
          <%= form.label :telephone, "電話番号", class: "form_label" %>
          <span class="sub_text">（必須）</span>
        </div>
        <%= form.text_field :telephone, placeholder: "電話番号", class: "text_field w-full sm:w-6/12", id: "contact_telephone" %>
      </div>

      <div>
        <div class="flex items-center">
          <label class="form_label">ITコーチに相談したいジャンル</label>
          <span class="sub_text">（必須）※複数選択可</span>
        </div>
          <div class="space-y-8 mt-4">
              <div class="space-y-4 grid grid-cols-2 sm:grid-cols-4">
                <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
                  <%= b.label class:"flex items-center space-x-2" do %>
                    <%= b.check_box class: "h-5 w-5" %>
                    <span class="block base_text"><%= b.text %></span>
                  <% end %>
                <% end %>
              </div>
          </div>
      </div>

      <div class="space-y-4">
        <div class="flex items-center">
          <%= form.label :will, "SNS・Webを活用し実現したいこと", class: "form_label" %>
          <span class="sub_text">（必須：255文字以内）</span>
        </div>
        <%= form.text_area :will, placeholder: "実現したいこと", rows: 4, class: "text_field w-full sm:w-6/12", id: "contact_will", maxlength: 255 %>
      </div>

      <div class="space-y-4">
        <div class="flex items-center">
          <%= form.label :budget, "予算", class: "form_label" %>
          <span class="sub_text">（必須）</span>
        </div>
        <%= form.select :budget, Budget.all.pluck(:range, :id), { prompt: "SNS・Webに関する制作・広告などの月額予算" }, class: "block text_field w-full sm:w-6/12 bg-white", id: "contact_budget" %>
      </div>

      <div class="space-y-4">
        <div class="flex items-center">
          <%= form.label :other, "その他", class: "form_label" %>
          <span class="sub_text">（任意：255文字以内）</span>
        </div>
        <%= form.text_area :other, placeholder: "その他問い合わせ事項がありましたらご記入ください。", rows: 4, class: "text_field w-full sm:w-6/12", maxlength: 255 %>
      </div>

      <div class="space-y-4">
      <div class="flex items-center space-x-4">
        <%= form.check_box :privacy, class: "text_field inline-block w-6 h-6", id: "contact_privacy" %>
        <%= form.label :privacy, "プライバシーポリシーに同意する", class: "base_text" %>
      </div>
        <p class="sub_text underline cursor-pointerr"><%= link_to "プライバシーポリシーはこちら", privacy_path %></p>
      </div>

      <%= form.submit "送信する", class: "button_gradation bg_gradation", id: "contact_submit" %>

    <% end %>

  </div>
</div>