<% content_for :title, "ITコーチ募集 | 株式会社IT Coach" %>
<% content_for :meta_description, "ITコーチ募集の詳細（コーチの仕事・コーチ審査要件・流れ）を記載しています。" %>
<% content_for :meta_keywords, "クライアントは中小企業・個人事業者,案件ごとの業務委託契約,報酬は時給制,審査制による報酬水準担保" %>
<% content_for :og_title, "ITコーチ募集 | 株式会社IT Coach" %>
<% content_for :og_description, "コーチの仕事・コーチ審査要件・流れ" %>

<div class="space-y-8 sm:space-y-12 bg-backgroundGray pt-4 sm:pt-6 pb-20 sm:pb-30">
  <div class="py-12 sm:py-20 bg-white px-5 sm:px-30">

    <div class="space-y-32">

      <h1 class="h1_text text-center">ITコーチ募集</h1>

      <div class="space-y-12 sm:text-center">
        <h2 class="h2_text text-center">コーチの仕事</h2>
        <div class="bg-primaryPale space-y-4 py-6 px-4 rounded">
          <h4 class="h4_text text-primary text-center">クライアントは中小企業・個人事業者が中心</h4>
          <p class="base_text">SNS/EC/Webマーケティング/Web制作のジャンルにて、<br>制作・広告宣伝・運用などに課題がある中小企業・個人事業者（業種はさまざま）向けに、<br>オンラインでコーチとして該当業務の推進を手伝います。</p>
        </div>
        <div class="bg-primaryPale space-y-4 py-6 px-4 rounded">
          <h4 class="h4_text text-primary text-center">案件ごとの業務委託契約</h4>
          <p class="base_text">雇用・社員の形態での募集ではなく、クライアント案件ごとの業務委託契約です。<br>稼働の量・時間は案件によってさまざまです。そのため、副業も可能です。<br>案件を受けるか否かは契約する前にご選択いただけます。</p>
        </div>
        <div class="bg-primaryPale space-y-4 py-6 px-4 rounded">
          <h4 class="h4_text text-primary text-center">報酬は時給制</h4>
          <p class="base_text">月額や納品型ではなく、時給のため「やればやった分だけ」の報酬が得られます。</p>
        </div>
        <div class="bg-primaryPale space-y-4 py-6 px-4 rounded">
          <h4 class="h4_text text-primary text-center">審査制による報酬水準担保</h4>
          <p class="base_text">審査に合格したコーチのみが業務を担うため、最低時給3000円以上〜の報酬体系としています。</p>
        </div>
      </div>

      <div class="space-y-12 sm:text-center">
        <h2 class="h2_text text-center">コーチ審査要件</h2>
        <div class="space-y-6">
          <div class="space-y-2">
            <h4 class="h4_text">1.ITスキル</h4>
            <p class="base_text">　以下いずれかのスキル・経験を保有する方<br>「SNS運用・マーケティング」<br>「EC・ネットショップ構築・運用」<br>「Webマーケティング」<br>「Web制作」</p>
          </div>
          <div class="space-y-2">
            <h4 class="h4_text">2.マナー</h4>
            <p class="base_text">標準的なビジネスマナー</p>
          </div>
          <div class="space-y-2">
            <h4 class="h4_text">3.コミュニケーション能力</h4>
            <p class="base_text">一定水準のコミュニケーション能力</p>
          </div>
        </div>
      </div>

      <div class="space-y-12 sm:text-center">
        <h2 class="h2_text text-center">よくある質問</h2>
        <div class="bg-primaryPale space-y-4 py-6 px-4 rounded">
          <h4 class="h4_text text-primary text-center">Q:どういったクライアントが多いですか？</h4>
          <p class="base_text">業種は、飲食・小売・美容・サービス業などさまざまで全ての業種が対象です。<br>中小企業・個人事業者様から直接発注をいただくことが多く、<br>Web制作・ECサイト制作・SNSマーケティング・Webマーケティングのお手伝いをしています。</p>
        </div>
        <div class="bg-primaryPale space-y-4 py-6 px-4 rounded">
          <h4 class="h4_text text-primary text-center">Q:どのぐらいのスキルが求められますか？</h4>
          <p class="base_text">ITスキルに関しては、SNS/EC/Webマーケティング/Web制作のいずれか1つのジャンルで構いませんので、<br>何かしらの「実績」といえる成果を出した経験がある方を求めています。<br>※業務での実績でなくとも構いません。（例えば、ご自身のSNSアカウントの運用実績、趣味で作成されたブログの作成・運用実績などでも可です）</p>
        </div>
        <div class="bg-primaryPale space-y-4 py-6 px-4 rounded">
          <h4 class="h4_text text-primary text-center">Q:稼働量や稼働時間はどうなりますか?</h4>
          <p class="base_text">クライアント案件ごとの契約となりますので、一概には言えないのですが、<br>平日の日中が中心のものから、土日や平日夜を中心としたプロジェクトもあります。<br>また、状況によってはコーチの稼働時間に合わせてクライアントに調整をいただくことも可能です。<br>基本的には、ご対応可能な時間帯・量を鑑みて案件にアサインしますので、まずはご相談ください。</p>
        </div>
      </div>

      <div class="space-y-12">
        <h2 class="h2_text text-center">流れ</h2>
        <div class="space-y-2 text-center">
          <div class="bg_primaryPale_textbox base_text p-2">エントリーフォームより情報入力</div>
          <%= image_tag 'allow.svg',class: "mx-auto"  %>
          <div class="bg_primaryPale_textbox base_text p-2">審査面談</div>
          <%= image_tag 'allow.svg',class: "mx-auto" %>
          <div class="bg_primaryPale_textbox base_text p-2">案件アサイン</div>
          <%= image_tag 'allow.svg',class: "mx-auto" %>
          <div class="bg_primaryPale_textbox base_text p-2">契約締結</div>
          <%= image_tag 'allow.svg',class: "mx-auto" %>
          <div class="bg_primaryPale_textbox base_text p-2">稼働開始</div>
        </div>
        <p class="sub_text">※審査があります。<br>（エントリー情報を基に書類審査、面談を基に人物審査）</p>
      </div>

      <div class="text-center">
        <%= link_to "エントリーフォームへ", itcoach_entry_path, class: "button_gradation bg_gradation", id: "itcoach_recruitment_entry" %>
      </div>

    </div>
  </div>
</div>

