<% content_for :javascripts do %>
  <%= javascript_pack_tag "utilities/button" %>
  <%= javascript_pack_tag "utilities/text" %>
  <%= javascript_pack_tag "utilities/bg_textbox" %>
<% end %>

<div class="space-y-4 sm:space-y-6 bg-backgroundGray">
  <div class="bg-white py-12 sm:py-20 px-5 sm:px-30 text-center sm:text-left space-y-6">

    <div class="sm:hidden">
      <h1 class="text-primary h1_text">SNS・EC・WebマーケティングにプロのITコーチが伴走</h1>
      <%= image_tag 'key_visual.png',class: "mx-auto" %>
      <p class="base_text">「IT Coach」は<br class="sm:hidden">貴社がSNSやWebを活用し実現したいことを<br>できるようになるまで<br class="sm:hidden">プロのITコーチが伴走・支援するサービスです。</p>
    </div>
    <div class="hidden sm:flex">
      <div>
        <h1 class="text-primary h1_text">SNS・EC・WebマーケティングにプロのITコーチが伴走</h1>
        <p class="base_text">「IT Coach」は<br class="sm:hidden">貴社がSNSやWebを活用し実現したいことを<br>できるようになるまで<br class="sm:hidden">プロのITコーチが伴走・支援するサービスです。</p>
      </div>
      <%= image_tag 'key_visual.png',class: "mx-auto" %>
    </div>
  </div>

  <div class="bg-white py-12 sm:py-20 px-5 sm:px-30 sm:text-left space-y-6">
    <h2 class="text-primary h2_text text-center">こんな悩みがありませんか？</h2>
    <div  class="sm:flex">
      <div class="sm:pr-5 sm:w-6/12">
        <div class="flex items-center">
          <%= image_tag 'problem.png',class: "rounded-full" %>
          <h4 class="h4_text ml-4">社内にSNS・Web活用のノウハウがなく困っている</h4>
        </div>
        <p class="base_text mt-4">自社で独自にSNS・Webを活用したマーケティングを行っているが、実施していることが適性かの判断ができていない。工数を必要以上にかけてしまっている。成果に満足できていない。</p>
      </div>
      <div class="sm:pl-5 sm:w-6/12 mt-6 sm:mt-0">
        <div class="flex items-center">
          <%= image_tag 'problem.png',class: "rounded-full" %>
          <h4 class="h4_text ml-4">IT・Webについては外注しており社内にノウハウが残らない</h4>
        </div>
        <p class="base_text mt-4">外注先に任せており、自社でコントロールすることができていない。現状のSNS・Web活用の戦略・技術選定・コスト・成果が妥当なのかの判断ができていない。</p>
      </div>
    </div>
    <h4 class="h4_text text-primary text-center">・IT Coachならプロに習いながら社内にノウハウが残せる！・外注先に支払っていた膨大なコストを削減できる！</h4>
  </div>
  <%# 悩みここまで　%>

  <div class="bg-white py-12 sm:py-20 px-5 sm:px-30 sm:text-left space-y-8 sm:space-y-16">
    <div>
      <h2 class="text-primary h2_text text-center">サービス</h2>
      <p class="base_text mt-6">貴社がSNSやWebを活用し実現したいことを、できるようになるまでプロのITコーチが伴走・支援します。</p>
    </div>
    <div class="text-center">
      <div class="space-y-6">
        <h3 class="h3_text">対応ジャンル</h3>
        <div class="space-y-6 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-10">
          <div class="bg_primaryPale_textbox">
            <h4 class="h4_text">SNSマーケティング</h4>
          </div>
          <div class="bg_primaryPale_textbox">
            <h4 class="h4_text">EC・ネットショップ</h4>
          </div>
          <div class="bg_primaryPale_textbox">
            <h4 class="h4_text">Webマーケティング</h4>
          </div>
          <div class="bg_primaryPale_textbox">
            <h4 class="h4_text">Web制作・開発</h4>
          </div>
        </div>
        <p class="sub_text">※上記にないジャンルでも対応できる場合もあります。<br class="sm:hidden"><%= link_to "問い合わせフォーム" ,contact_path, class: "text-black underline cursor-pointer" %>からお願いします。</p>
      </div>
    </div>

    <div class="text-center">
      <div class="space-y-6">
        <h3 class="h3_text">特徴</h3>

        <div class=space-y-4>
          <h4 class="h4_text">1、審査・選抜されたコーチ陣</h4>
          <%= image_tag 'key_visual.png', class: "rounded mx-auto" %>
          <div class="text-left">
            <ul>
              <li>・ビジネスマナー</li>
              <li>・コミュニケーション能力</li>
              <li>・該当ジャンルのIT/Webスキル</li>
            </ul>
            <p>を一定の基準で有する弊社でスクリーニングしたITコーチをアサインします。</p>
          </div>
        </div>

        <div class=space-y-4>
          <h4 class="h4_text">2、伴走型の支援</h4>
          <%= image_tag 'key_visual.png', class: "rounded mx-auto" %>
          <div class="text-left">
            <p>制作物を外注いただき納品まで実施するような請負型のサービスではなく、契約した時間分クライアントの仕事を手伝う伴走型のサービスです。</p>
          </div>
        </div>

        <div class=space-y-4>
          <h4 class="h4_text">3、オンラインコミュニケーション</h4>
          <%= image_tag 'key_visual.png', class: "rounded mx-auto" %>
          <div class="text-left">
            <p>・オンラインMTG（Zoom/Google Meet等）<br>貴社の画面共有をいただきながら一緒に課題に向き合い伴走します。</p>
            <p>・チャット（slack/Teams/Messenger等）<br>リアルタイムでサポートすることが可能です。</p>

          </div>
        </div>

      </div>
    </div>

    <div>
      <div class="space-y-6">
        <h3 class="h3_text text-center">実績</h3>
        <div class="space-y-6 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-10">
          <div class="bg-primaryPale space-y-4 p-3 sm:p-4 rounded">
            <div class="flex items-center space-x-4">
              <%= image_tag 'problem.png',class: "rounded-full" %>
              <div class="space-y-2 sm:space-y-3">
                <p class="base_text">Wさん</p>
                <p class="base_text">広告会社・マザーズ上場企業</p>
              </div>
            </div>
            <p class="base_text font-bold">Web系新規事業にあたり企画・ワイヤーフレーム制作に課題がありました</p>
            <p class="base_text">IT Coachに依頼することで、自社がやりたかったことの言語化・それを実際に企画に落とし込み、ワイヤーフレーム制作までできました。そこからの詳細のデザイン制作を支援してくれるプロのデザイナーもアサインいただき感謝しています。</p>
          </div>
          <div class="bg-primaryPale space-y-4 p-3 sm:p-4 rounded">
            <div class="flex items-center space-x-4">
              <%= image_tag 'problem.png',class: "rounded-full" %>
              <div class="space-y-2 sm:space-y-3">
                <p class="base_text">Wさん</p>
                <p class="base_text">会計事務所</p>
              </div>
            </div>
            <p class="base_text font-bold">Twitter・noteを活用したブランディングをしたい</p>
            <p class="base_text">noteの立ち上げから記事の執筆を支援していただき、半年間で30記事をアップすることができました。また、そこをみてくださったTwitterから問い合わせがきて、顧客獲得ができました。</p>
          </div>
          <div class="bg-primaryPale space-y-4 p-3 sm:p-4 rounded">
            <div class="flex items-center space-x-4">
              <%= image_tag 'problem.png',class: "rounded-full" %>
              <div class="space-y-2 sm:space-y-3">
                <p class="base_text">Aさん</p>
                <p class="base_text">〜〜</p>
              </div>
            </div>
            <p class="base_text font-bold">〜〜</p>
            <p class="base_text">〜〜</p>
          </div>
        </div>

      </div>

    </div>

    <div>
      <div class="space-y-6">
        <h3 class="h3_text text-center">料金</h3>
        <h4 class="h4_text bg_primaryPale_textbox p-3 text-center">ニーズに応じコーチをアサインし見積もり<br>（最低発注単価：月20万円〜）</h4>
        <div class="sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-10">
          <div class="border-t sm:border-b border-blank space-y-2 py-4">
            <p class="base_text font-bold">ケース①</p>
            <dl class="space-y-2">
              <div class="flex">
                <dt class="base_text font-bold w-2/12">ニーズ</dt>
                <dd class="base_text w-10/12">Instagramアカウントの運用改善</dt>
              </div>
              <div class="flex">
                <dt class="base_text font-bold w-2/12"">金額</dt>
                <dd class="base_text w-10/12">月28万円（月20時間×時間単価14,000円）</dt>
              </div>
            <dl>
          </div>
          <div class="border-t sm:border-b border-blank space-y-2 py-4">
            <p class="base_text font-bold">ケース②</p>
            <dl class="space-y-2">
              <div class="flex">
                <dt class="base_text font-bold w-2/12">ニーズ</dt>
                <dd class="base_text w-10/12">shopifyを活用したECサイトの開設・運用</dt>
              </div>
              <div class="flex">
                <dt class="base_text font-bold w-2/12"">金額</dt>
                <dd class="base_text w-10/12">月36万円（月30時間×時間単価12,000円）</dt>
              </div>
            <dl>
          </div>
          <div class="border-t border-b border-blank space-y-2 py-4">
            <p class="base_text font-bold">ケース③</p>
            <dl class="space-y-2">
              <div class="flex">
                <dt class="base_text font-bold w-2/12">ニーズ</dt>
                <dd class="base_text w-10/12">Webサイトへの集客施策の企画・運用</dt>
              </div>
              <div class="flex">
                <dt class="base_text font-bold w-2/12"">金額</dt>
                <dd class="base_text w-10/12">月45万円（月45時間×時間単価10000円）</dt>
              </div>
            <dl>
          </div>
        </div>
        <p class="sub_text text-center">※上記はあくまで例です。プロジェクトごとの見積もりのため、まずは<%= link_to "問い合わせ" ,contact_path, class: "text-black underline cursor-pointer" %>よりご連絡ください。</p>
      </div>
    </div>

    <div class="text-center space-y-6">
      <h3 class="h3_text text-center">流れ</h3>
      <div class="space-y-2">
        <div class="bg_primaryPale_textbox base_text p-2">問い合わせ</div>
        <%= image_tag 'allow.svg',class: "mx-auto"  %>
        <div class="bg_primaryPale_textbox base_text p-2">ヒアリング</div>
        <%= image_tag 'allow.svg',class: "mx-auto" %>
        <div class="bg_primaryPale_textbox base_text p-2">ご提案・見積もり</div>
        <%= image_tag 'allow.svg',class: "mx-auto" %>
        <div class="bg_primaryPale_textbox base_text p-2">契約・サービス提供</div>
      </div>

    </div>

    <%= link_to "問い合わせ", contact_path, class: "button_gradation bg_gradation" %>

  </div>
  <%# サービスここまで　%>

  <div class="bg-white py-12 sm:py-20 px-5 sm:px-30 sm:text-left space-y-6 sm:space-y-16 text-center">
    <h2 class="text-primary h2_text text-center">ITコーチ募集</h2>
    <div class="space-y-4">
      <h3 class="h3_text">SNS/EC/Webスキルを活かして稼げるコーチになりませんか？</h3>
      <%= image_tag 'key_visual.png',class: "mx-auto" %>
      <p class="base_text">「SNS運用・マーケティング」<br class="sm:hidden">「EC・ネットショップ構築・運用」<br>「Webマーケティング」<br class="sm:hidden">「Web制作・開発」<br>のいずれかのスキルをお持ちで<br>ビジネスマナー・コミュニケーション力のある方へ</p>
      <h4 class="bg_primaryPale_textbox h4_text p-2 text-center">副業・業務委託で始められ<br class="sm:hidden">最低時給5000円以上〜の報酬が得られる<br>プロのコーチになりませんか？</h4>
    </div>
    <%= link_to "ITコーチ募集ページへ", itcoach_recruitment_path, class: "button_gradation bg_gradation" %>
  </div>
  <%# ITコーチ募集ここまで　%>


</div>






<%= link_to "採用情報サイトへ", root_path, class: "button_gradation bg_gradation" %>