<% content_for :javascripts do %>
  <%= javascript_pack_tag "utilities/button" %>
  <%= javascript_pack_tag "utilities/text" %>
  <%= javascript_pack_tag "utilities/bg_textbox" %>
<% end %>

<div class="space-y-4 sm:space-y-6 bg-backgroundGray pb-20 sm:pb-30">
  <div class="bg-white text-center sm:text-left">
    <%= image_tag 'main_visual_sp.png',class: "sm:hidden mx-auto" %>
    <div class="sm:hidden px-5 pb-12 space-y-6">
      <h1 class="text-primary h1_text_top">SNS・EC・WebマーケティングにプロのITコーチが伴走</h1>

      <p class="base_text">「IT Coach」は<br class="sm:hidden">貴社がSNSやWebをつかって実現したいことを<br>できるようになるまで<br class="sm:hidden">プロのITコーチが伴走・支援するサービスです。</p>
    </div>
    <div class="hidden sm:flex justify-between items-center pl-30">
      <div class="space-y-10">
        <h1 class="text-primary h1_text_top">SNS・EC・Webマーケティングに<br>プロのITコーチが伴走</h1>
        <p class="base_text">「IT Coach」は<br class="sm:hidden">貴社がSNSやWebをつかって実現したいことを<br>できるようになるまで<br class="sm:hidden">プロのITコーチが伴走・支援するサービスです。</p>
      </div>
      <%= image_tag 'main_visual_pc.png',class: "hidden sm:block w-2/5" %>
    </div>
  </div>

  <div class="bg-white py-12 sm:py-20 px-5 sm:px-30 sm:text-left space-y-6">
    <h2 class="text-primary h2_text text-center">こんな悩みがありませんか？</h2>
    <div  class="sm:flex">
      <div class="sm:pr-5 sm:w-6/12">
        <div class="flex items-center">
          <%= image_tag 'problem_question.svg' %>
          <h4 class="h4_text ml-4">社内にSNS・Web活用のノウハウがなく困っている</h4>
        </div>
        <p class="base_text mt-4">自社で独自にSNS・Webを活用したマーケティングを行っているが、実施していることが適性かの判断ができていない。工数を必要以上にかけてしまっている。成果に満足できていない。</p>
      </div>
      <div class="sm:pl-5 sm:w-6/12 mt-6 sm:mt-0">
        <div class="flex items-center">
          <%= image_tag 'problem_unstock.svg' %>
          <h4 class="h4_text ml-4">IT・Webについては外注しており社内にノウハウが残らない</h4>
        </div>
        <p class="base_text mt-4">外注先に任せており、自社でコントロールすることができていない。現状のSNS・Web活用の戦略・技術選定・コスト・成果が妥当なのかの判断ができていない。</p>
      </div>
    </div>
    <h4 class="h4_text text-primary text-center">IT Coachならプロに習いながら社内にノウハウが残せる！</h4>
  </div>
  <%# 悩みここまで　%>

  <div class="bg-white py-12 sm:py-20 px-5 sm:px-30 sm:text-left space-y-8 sm:space-y-16">
    <div>
      <h2 class="text-primary h2_text text-center">サービス</h2>
      <p class="base_text mt-6 sm:text-center">貴社がSNSやWebを活用し実現したいことを、できるようになるまでプロのITコーチが伴走・支援します。</p>
    </div>
    <div class="text-center">
      <div class="space-y-6">
        <h3 class="h3_text">対応ジャンル</h3>
        <div class="space-y-6 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-10">
          <div class="bg_primaryPale_textbox py-6 sm:py-8 px-4 sm:px-6">
            <h4 class="h4_text">SNSマーケティング</h4>
            <p class="base_text mt-4">各種SNSの広告運用やアカウントの企画・運用などの支援</p>
            <div class="flex justify-around items-center mt-6 sm:mt-8">
              <%= image_tag 'big_category/sns/facebook_logo.svg', class: "h-6 sm:h-full" %>
              <%= image_tag 'big_category/sns/instagram_logo.svg', class: "h-6 sm:h-full" %>
              <%= image_tag 'big_category/sns/twitter_logo.svg', class: "h-6 sm:h-full" %>
              <%= image_tag 'big_category/sns/line_logo.svg', class: "h-6 sm:h-full" %>
              <%= image_tag 'big_category/sns/youtube_logo.svg', class: "h-5 sm:h-full" %>
            </div>
          </div>
          <div class="bg_primaryPale_textbox py-6 sm:py-8 px-4 sm:px-6">
            <h4 class="h4_text">Webマーケティング</h4>
            <p class="base_text mt-4">SEO・MEO・リスティング・リターゲティングなどの企画・分析・運用の支援</p>
            <div class="flex justify-around items-center mt-6 sm:mt-8">
              <%= image_tag 'big_category/web_marketing/google_logo.svg', class: "h-6 sm:h-full" %>
              <%= image_tag 'big_category/web_marketing/google_adwords_logo.svg', class: "h-6 sm:h-full" %>
              <%= image_tag 'big_category/web_marketing/google_map_logo.svg', class: "h-6 sm:h-full" %>
              <%= image_tag 'big_category/web_marketing/google_analytics_logo.svg', class: "h-6 sm:h-full" %>
              <%= image_tag 'big_category/web_marketing/google_mybusiness_logo.svg', class: "h-6 sm:h-full" %>
              <%= image_tag 'big_category/web_marketing/yahoo_logo.svg', class: "h-5 sm:h-full" %>
            </div>
          </div>
          <div class="bg_primaryPale_textbox py-6 sm:py-8 px-4 sm:px-6">
            <h4 class="h4_text">EC・ネットショップ</h4>
            <p class="base_text mt-4">EC・ネットショップの企画・構築・運用・マーケティングなどの支援</p>
            <div class="flex justify-around items-center mt-6 sm:mt-8">
              <%= image_tag 'big_category/ec/amazon_logo.svg', class: "h-5 sm:h-full" %>
              <%= image_tag 'big_category/ec/rakuten_logo.svg', class: "h-5 sm:h-full" %>
              <%= image_tag 'big_category/ec/shopify_logo.svg', class: "h-6 sm:h-full" %>
            </div>
            <div class="flex justify-around items-center mt-6 sm:mt-8">
              <%= image_tag 'big_category/ec/base_logo.svg', class: "h-6 sm:h-full" %>
              <%= image_tag 'big_category/ec/colorme_logo.svg', class: "h-5 sm:h-full" %>
              <%= image_tag 'big_category/ec/makeshop_logo.svg', class: "h-5 sm:h-full" %>
              <%= image_tag 'big_category/ec/stripe_logo.svg', class: "h-5 sm:h-full" %>
            </div>
          </div>
          <div class="bg_primaryPale_textbox py-6 sm:py-8 px-4 sm:px-6">
            <h4 class="h4_text">Web制作</h4>
            <p class="base_text mt-4">ロゴ・バナー・HP・LP ・Webサービスなどの制作・開発・運用などの支援</p>
            <div class="flex justify-around items-center mt-6 sm:mt-8">
              <%= image_tag 'big_category/web_production/illustrator_logo.svg', class: "h-6 sm:h-full" %>
              <%= image_tag 'big_category/web_production/photoshop_logo.svg', class: "h-6 sm:h-full" %>
              <%= image_tag 'big_category/web_production/xd_logo.svg', class: "h-6 sm:h-full" %>
              <%= image_tag 'big_category/web_production/figma_logo.svg', class: "h-6 sm:h-full" %>
              <%= image_tag 'big_category/web_production/wordpress_logo.svg', class: "h-6 sm:h-full" %>
            </div>
            <div class="flex justify-around items-center mt-6 sm:mt-8">
              <%= image_tag 'big_category/web_production/wix_logo.svg', class: "h-5 sm:h-full" %>
              <%= image_tag 'big_category/web_production/studio_logo.svg', class: "h-5 sm:h-full" %>
              <%= image_tag 'big_category/web_production/html_logo.svg', class: "h-6 sm:h-full" %>
              <%= image_tag 'big_category/web_production/css_logo.svg', class: "h-6 sm:h-full" %>
            </div>
          </div>
        </div>
        <p class="sub_text">※上記にないジャンルでも対応できる場合もあります。<br class="sm:hidden"><%= link_to "問い合わせフォーム" ,contact_path, class: "text-black underline cursor-pointer" %>からお願いします。</p>
      </div>
    </div>

    <div class="text-center">
      <div class="space-y-6">
        <h3 class="h3_text">特徴</h3>

        <div class="space-y-6 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-10">

          <div class=space-y-4>
            <h4 class="h4_text">1、審査・選抜されたコーチ陣</h4>
            <%= image_tag 'coach_member.png', class: "rounded mx-auto" %>
            <div class="text-left">
              <ul>
                <li>・ビジネスマナー</li>
                <li>・コミュニケーション能力</li>
                <li>・該当ジャンルのIT/Webスキル</li>
              </ul>
              <p>を一定の基準で有する弊社でスクリーニングしたITコーチをアサインします。</p>
            </div>
          </div>

          <div class=space-y-4>
            <h4 class="h4_text">2、伴走型の支援</h4>
            <%= image_tag 'comparison_table.png', class: "rounded mx-auto" %>
            <div class="text-left">
              <p>制作物を外注いただき納品まで実施するような請負型のサービスではなく、契約した時間分クライアントの仕事を手伝う伴走型のサービスです。</p>
            </div>
          </div>

          <div class=space-y-4>
            <h4 class="h4_text">3、オンラインコミュニケーション</h4>
            <%= image_tag 'online_communication.png', class: "rounded mx-auto" %>
            <div class="text-left">
              <p>・オンラインMTG（Zoom/Google Meet等）<br>貴社の画面共有をいただきながら一緒に課題に向き合い伴走します。</p>
              <p>・チャット（slack/Teams/Messenger等）<br>リアルタイムでサポートすることが可能です。</p>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="space-y-6">
        <h3 class="h3_text text-center">実績</h3>
        <div class="space-y-6 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-10">
          <div class="bg-primaryPale space-y-4 p-3 sm:p-4 rounded">
            <div class="flex items-center space-x-4">
              <%= image_tag 'client.svg',class: "w-10 rounded-full" %>
              <div class="space-y-2 sm:space-y-3">
                <p class="base_text">Wさん</p>
                <p class="base_text">広告会社・マザーズ上場企業</p>
              </div>
            </div>
            <p class="base_text font-bold">Web系新規事業にあたり企画・ワイヤーフレーム制作に課題がありました</p>
            <p class="base_text">IT Coachに依頼することで、自社がやりたかったことの言語化・それを実際に企画に落とし込み、ワイヤーフレーム制作までできました。そこからの詳細のデザイン制作を支援してくれるプロのデザイナーもアサインいただき感謝しています。</p>
          </div>
          <div class="bg-primaryPale space-y-4 p-3 sm:p-4 rounded">
            <div class="flex items-center space-x-4">
              <%= image_tag 'client.svg',class: "w-10 rounded-full" %>
              <div class="space-y-2 sm:space-y-3">
                <p class="base_text">Wさん</p>
                <p class="base_text">会計事務所</p>
              </div>
            </div>
            <p class="base_text font-bold">Twitter・noteを活用したブランディングをしたい</p>
            <p class="base_text">noteの立ち上げから記事の執筆を支援していただき、半年間で30記事をアップすることができました。また、そこをみてくださったTwitterから問い合わせがきて、顧客獲得ができました。</p>
          </div>
          <div class="bg-primaryPale space-y-4 p-3 sm:p-4 rounded">
            <div class="flex items-center space-x-4">
              <%= image_tag 'client.svg',class: "w-10 rounded-full" %>
              <div class="space-y-2 sm:space-y-3">
                <p class="base_text">Aさん</p>
                <p class="base_text">〜〜</p>
              </div>
            </div>
            <p class="base_text font-bold">〜〜</p>
            <p class="base_text">〜〜</p>
          </div>
        </div>

      </div>

    </div>

    <div>
      <div class="space-y-6">
        <h3 class="h3_text text-center">料金</h3>
        <h4 class="h4_text bg_primaryPale_textbox p-3 text-center">ニーズに応じコーチをアサインし見積もり<br>（最低発注単価：月20万円〜）</h4>
        <div class="sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-10">
          <div class="border-t sm:border-b border-blank space-y-2 py-4">
            <p class="base_text font-bold">ケース①</p>
            <dl class="space-y-2">
              <div class="flex">
                <dt class="base_text font-bold w-2/12">ニーズ</dt>
                <dd class="base_text w-10/12">Instagramアカウントの運用改善</dt>
              </div>
              <div class="flex">
                <dt class="base_text font-bold w-2/12"">金額</dt>
                <dd class="base_text w-10/12">月28万円（月20時間×時間単価14,000円）</dt>
              </div>
            <dl>
          </div>
          <div class="border-t sm:border-b border-blank space-y-2 py-4">
            <p class="base_text font-bold">ケース②</p>
            <dl class="space-y-2">
              <div class="flex">
                <dt class="base_text font-bold w-2/12">ニーズ</dt>
                <dd class="base_text w-10/12">shopifyを活用したECサイトの開設・運用</dt>
              </div>
              <div class="flex">
                <dt class="base_text font-bold w-2/12"">金額</dt>
                <dd class="base_text w-10/12">月36万円（月30時間×時間単価12,000円）</dt>
              </div>
            <dl>
          </div>
          <div class="border-t border-b border-blank space-y-2 py-4">
            <p class="base_text font-bold">ケース③</p>
            <dl class="space-y-2">
              <div class="flex">
                <dt class="base_text font-bold w-2/12">ニーズ</dt>
                <dd class="base_text w-10/12">Webサイトへの集客施策の企画・運用</dt>
              </div>
              <div class="flex">
                <dt class="base_text font-bold w-2/12"">金額</dt>
                <dd class="base_text w-10/12">月45万円（月45時間×時間単価10000円）</dt>
              </div>
            <dl>
          </div>
        </div>
        <p class="sub_text text-center">※上記はあくまで例です。プロジェクトごとの見積もりのため、まずは<%= link_to "問い合わせ" ,contact_path, class: "text-black underline cursor-pointer" %>よりご連絡ください。</p>
      </div>
    </div>

    <div class="text-center space-y-6">
      <h3 class="h3_text text-center">流れ</h3>
      <div class="space-y-2">
        <div class="bg_primaryPale_textbox base_text p-2">問い合わせ</div>
        <%= image_tag 'allow.svg',class: "mx-auto"  %>
        <div class="bg_primaryPale_textbox base_text p-2">ヒアリング</div>
        <%= image_tag 'allow.svg',class: "mx-auto" %>
        <div class="bg_primaryPale_textbox base_text p-2">ご提案・見積もり</div>
        <%= image_tag 'allow.svg',class: "mx-auto" %>
        <div class="bg_primaryPale_textbox base_text p-2">契約・サービス提供</div>
      </div>

    </div>

    <%= link_to "問い合わせ", contact_path, class: "button_gradation bg_gradation" %>

  </div>
  <%# サービスここまで　%>

  <div class="bg-white py-12 sm:py-20 px-5 sm:px-30 space-y-6 sm:space-y-16 text-center">
    <h2 class="text-primary h2_text">ITコーチ募集</h2>
    <div class="space-y-4 sm:space-y-16">
      <div class="sm:flex space-y-4 sm:space-y-0">
        <div class="sm:space-y-10">
          <h3 class="h3_text text-center sm:text-left">SNS/EC/Webのスキルを活かして稼げるコーチになりませんか？</h3>
          <p class="hidden sm:block base_text text-left">「SNS運用・マーケティング」<br>「EC・ネットショップ構築・運用」<br>「Webマーケティング」<br>「Web制作」<br>のいずれかのスキルをお持ちで<br>ビジネスマナー・コミュニケーション力のある方へ</p>
        </div>
        <%= image_tag 'coach_recruitment.png',class: "mx-auto sm:mr-0 sm:w-2/5" %>
        <p class="sm:hidden base_text">「SNS運用・マーケティング」<br>「EC・ネットショップ構築・運用」<br>「Webマーケティング」<br>「Web制作」<br>のいずれかのスキルをお持ちで<br>ビジネスマナー・コミュニケーション力のある方へ</p>
      </div>
      <h4 class="bg_primaryPale_textbox h4_text p-2">副業・業務委託で始められ<br class="sm:hidden">最低時給5000円以上〜の報酬が得られる<br>プロのコーチになりませんか？</h4>
    </div>
    <%= link_to "ITコーチ募集ページへ", itcoach_recruitment_path, class: "button_gradation bg_gradation" %>
  </div>
  <%# ITコーチ募集ここまで　%>

  <div class="bg-white py-12 sm:py-20 px-5 sm:px-30 space-y-6 sm:space-y-16 text-center">
    <h2 class="text-primary h2_text">採用情報</h2>
    <h4 class="h4_text text-left sm:text-center">COO、Webコンサルタント 、ECコンサルタント、Webマーケター、Webディレクター、Webインターンを募集！</h4>
    <%= link_to "採用情報サイトへ", root_path, class: "button_gradation bg_gradation" %>
  </div>
  <%# 採用情報ここまで　%>

  <div class="bg-white py-12 sm:py-20 px-5 sm:px-30 space-y-6 sm:space-y-16 text-center">
    <h2 class="text-primary h2_text">企業概要</h2>

    <div class="space-y-6 sm:space-y-10">
      <h3 class="h3_text">ミッション</h3>
        <h4 class="h4_text">「誰もがITで自己表現できる世界を」</h4>
    </div>

    <div class="space-y-6 sm:space-y-10">
      <h3 class="h3_text">企業概要</h3>

      <dl class="text-left">
        <div class="flex border-t border-blank py-4">
          <dt class="base_text font-bold w-3/12 sm:w-2/12">会社名</dt>
          <dd class="base_text w-9/12 sm:w-10/12">株式会社IT Coach</dt>
        </div>
        <div class="flex border-t border-blank py-4">
          <dt class="base_text font-bold w-3/12 sm:w-2/12">設立</dt>
          <dd class="base_text w-9/12 sm:w-10/12">2019年6月</dt>
        </div>
        <div class="flex border-t border-blank py-4">
          <dt class="base_text font-bold w-3/12 sm:w-2/12">資本金</dt>
          <dd class="base_text w-9/12 sm:w-10/12">5,000,000円</dt>
        </div>
        <div class="flex border-t border-b border-blank py-4">
          <dt class="base_text font-bold w-3/12 sm:w-2/12">事業内容</dt>
          <dd class="base_text w-9/12 sm:w-10/12">IT・Web活用のコーチ</dt>
        </div>
      </dl>

      <div class="flex justify-between text-left">
        <div class="flex items-center space-x-4">
          <%= image_tag 'ceo.png',class: "rounded-full" %>
          <div class="space-y-2 sm:space-y-3">
            <p class="base_text">代表取締役 <br class="sm:hidden">小松 遊気</p>
            <p class="base_text text-left hidden sm:block">ベンチャー企業にてIT・ECコンサルティング事業に1年5ヶ月携わる。<br>リクルートにてHRやWeb制作事業に6年11ヶ月従事(クライアントのwebサイトの受託制作ディレクタ）その後、2019年6月に同社を設立。</p>
          </div>
        </div>
        <div class="flex items-end space-x-4 min-w-max">
          <%= link_to "https://twitter.com/komatsu_0105" do %>
            <div class="bg-twitter rounded-full p-2 inline-block">
              <%= image_tag 'twitter_logo.svg',class: "w-6 h-6 p-0.5" %>
            </div>
          <% end %>
          <%= link_to "https://note.com/komatsu0105" do %>
            <div class="bg-note rounded-full p-2 inline-block">
              <%= image_tag 'note_logo.svg',class: "w-6 h-6 p-0.5" %>
            </div>
          <% end %>
        </div>
      </div>
      <p class="base_text text-left sm:hidden">ベンチャー企業にてIT・ECコンサルティング事業に1年5ヶ月携わる。リクルートにてHRやWeb制作事業に6年11ヶ月従事(クライアントのwebサイトの受託制作ディレクタ）その後、2019年6月に同社を設立。</p>
    </div>
  </div>
  <%# 企業概要ここまで　%>

  <div class="bg-white py-12 sm:py-20 px-5 sm:px-30 space-y-6 sm:space-y-16 text-center">
    <h2 class="text-primary h2_text">ニュース</h2>
    <dl class="text-left">
      <div class="sm:flex  border-t border-blank py-4 space-y-2 sm:space-y-0">
        <dt class="base_text font-bold sm:w-3/12">2019年6月17日</dt>
        <dd class="base_text sm:w-9/12">株式会社メンバーを設立</dt>
      </div>
      <div class="sm:flex border-t border-b border-blank py-4 space-y-2 sm:space-y-0">
        <dt class="base_text font-bold sm:w-3/12">2021年6月1日</dt>
        <dd class="base_text sm:w-9/12">株式会社IT Coachに社名変更</dt>
      </div>
    </dl>
  </div>
    <%# ニュースここまで　%>

</div>

<div class="fixed bottom-0 right-0 left-0">
  <div class="bg-white py-3 sm:py-6 px-5 sm:px-30 space-y-4 sm:space-y-0 sm:space-x-6 sm:flex">
    <%= link_to "ITコーチになる", itcoach_recruitment_path, class: "button_sub" %>
    <%= link_to "問い合わせ", contact_path, class: "button_main" %>
  </div>
</div>