<div class="space-y-8 sm:space-y-12 bg-backgroundGray pb-20 sm:pb-30">
  <div class="bg-white text-center sm:text-left">
    <%= image_tag 'main_visual_sp.png',class: "sm:hidden mx-auto" %>
    <div class="sm:hidden px-5 pb-12 space-y-12">
      <h1 class="text-primary h1_text_top">SNS・Webマーケティングを<br>コーチがサポート</h1>

      <p class="base_text">「IT Coach」は<br>企業のSNSやWeb活用を<br>ITに強いコーチがサポートする<br class="sm:hidden">オンラインコーチサービスです。</p>
      <div class="space-y-2">
        <p class="base_text text-subtext text-sm">▼サービス紹介資料はこちら</p>
        <%= link_to "資料ダウンロード", document_request_path, class: "button_gradation bg_gradation" %>
      </div>
    </div>

    <div class="hidden sm:flex justify-between items-center pl-30">
      <div class="space-y-10">
        <h1 class="text-primary h1_text_top">SNS・Webマーケティングを<br>コーチがサポート</h1>
        <p class="base_text">「IT Coach」は企業のSNSやWeb活用を<br>ITに強いコーチがサポートする<br class="sm:hidden">オンラインコーチサービスです。</p>
        <div class="space-y-2">
          <p class="base_text text-center text-subtext text-sm">▼サービス紹介資料はこちら</p>
          <%= link_to "資料ダウンロード", document_request_path, class: "button_gradation bg_gradation" %>
        </div>
      </div>
      <%= image_tag 'main_visual_pc.png',class: "hidden sm:block w-2/5" %>
    </div>
  </div>

  <div class="bg-white py-12 sm:py-20 px-5 sm:px-30 sm:text-left space-y-12">
    <h2 class="text-primary h2_text text-center">こんな悩みがありませんか？</h2>
    <div  class="sm:flex">
      <div class="sm:pr-5 sm:w-6/12">
        <div class="flex items-center">
          <%= image_tag 'problem_question.svg' %>
          <h4 class="h4_text ml-4">ITのノウハウがなく困っている</h4>
        </div>
        <p class="base_text mt-4">自分達でSNS・Webをもちい広告宣伝しているが、うまく集客できていない。工数が多くかかっている。</p>
      </div>
      <div class="sm:pl-5 sm:w-6/12 mt-6 sm:mt-0">
        <div class="flex items-center">
          <%= image_tag 'problem_unstock.svg' %>
          <h4 class="h4_text ml-4">ITについては外注していてよくわからない</h4>
        </div>
        <p class="base_text mt-4">外注先に任せきりで、自社で把握できていない。現状の施策・コスト・成果が妥当なのかわからない。</p>
      </div>
    </div>
    <h4 class="h4_text text-primary text-center">IT Coachを活用すれば、コーチに習いながら社内にノウハウが残せる！</h4>
  </div>
  <%# 悩みここまで　%>

  <div class="bg-white py-12 sm:py-20 px-5 sm:px-30 sm:text-left space-y-16 sm:space-y-32">
    <div>
      <h2 class="text-primary h2_text text-center">サービス</h2>
      <p class="base_text mt-6 text-center">SNS・Web・ECなどを活用した戦略・企画・制作・運用・集客をITに強いコーチが支援します。</p>
    </div>
    <div class="text-center">
      <div class="space-y-6">
        <h3 class="h3_text">対応ジャンル</h3>
        <div class="space-y-6 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-10">
          <div class="bg_primaryPale_textbox py-6 sm:py-8 px-4 sm:px-6">
            <h4 class="h4_text">SNSマーケティング</h4>
            <p class="base_text mt-4">各種SNSのアカウント運用・広告運用の支援</p>
            <div class="flex justify-around items-center mt-6 sm:mt-8">
              <%= image_tag 'big_category/sns/facebook_logo.svg', class: "h-6 sm:h-full" %>
              <%= image_tag 'big_category/sns/instagram_logo.svg', class: "h-6 sm:h-full" %>
              <%= image_tag 'big_category/sns/twitter_logo.svg', class: "h-6 sm:h-full" %>
              <%= image_tag 'big_category/sns/line_logo.svg', class: "h-6 sm:h-full" %>
            </div>
            <p class="sub_text mt-4">主要取り扱いメディア：Facebook・Instagram・Twitter・LINEなど</p>
          </div>
          <div class="bg_primaryPale_textbox py-6 sm:py-8 px-4 sm:px-6">
            <h4 class="h4_text">Webマーケティング</h4>
            <p class="base_text mt-4">SEO・MEO・リスティング・ターゲティング広告などの企画・運用支援</p>
            <div class="flex justify-around items-center mt-6 sm:mt-8">
              <%= image_tag 'big_category/web_marketing/google_logo.svg', class: "h-6 sm:h-full" %>
              <%= image_tag 'big_category/web_marketing/google_analytics_logo.svg', class: "h-6 sm:h-full" %>
              <%= image_tag 'big_category/web_marketing/google_mybusiness_logo.svg', class: "h-6 sm:h-full" %>
              <%= image_tag 'big_category/web_marketing/yahoo_logo.svg', class: "h-5 sm:h-full" %>
            </div>
            <p class="sub_text mt-4">主要取り扱いメディア：Google・Yahoo!など</p>
          </div>
          <div class="bg_primaryPale_textbox py-6 sm:py-8 px-4 sm:px-6">
            <h4 class="h4_text">EC・ネットショップ</h4>
            <p class="base_text mt-4">EC・ネットショップの企画・構築・運用・マーケティングなどの支援</p>
            <%# <div class="space-y-4">%>
              <div class="flex justify-around items-center mt-6 sm:mt-8">
                <%= image_tag 'big_category/ec/amazon_logo.svg', class: "h-5 sm:h-full" %>
                <%= image_tag 'big_category/ec/shopify_logo.svg', class: "h-6 sm:h-full" %>
                <%= image_tag 'big_category/ec/base_logo.svg', class: "h-6 sm:h-full" %>
                <%= image_tag 'big_category/ec/stripe_logo.svg', class: "h-5 sm:h-full" %>
              </div>
            <p class="sub_text mt-4">主要取り扱いメディア・ツール：Amazon・Shopify・BASE・stripeなど</p>
              <%# <div class="flex justify-around items-center mt-6 sm:mt-8">
                <%= image_tag 'big_category/ec/rakuten_logo.svg', class: "h-5 sm:h-full" %>
                <%#<%= image_tag 'big_category/ec/colorme_logo.svg', class: "h-5 sm:h-full" %>
                <%#<%= image_tag 'big_category/ec/makeshop_logo.svg', class: "h-5 sm:h-full" %>
              <%#</div>%>
            <%#</div>%>
          </div>
          <div class="bg_primaryPale_textbox py-6 sm:py-8 px-4 sm:px-6">
            <h4 class="h4_text">Web制作</h4>
            <p class="base_text mt-4">サムネイル・ホームページ・LP・ブログ・オウンドメディアなどの企画・制作・運用の支援</p>
            <%# <div class="space-y-4">%>
              <div class="flex justify-around items-center mt-6 sm:mt-8">
                <%= image_tag 'big_category/web_production/illustrator_logo.svg', class: "h-6 sm:h-full" %>
                <%= image_tag 'big_category/web_production/photoshop_logo.svg', class: "h-6 sm:h-full" %>
                <%= image_tag 'big_category/web_production/wordpress_logo.svg', class: "h-6 sm:h-full" %>
                <%= image_tag 'big_category/web_production/wix_logo.svg', class: "h-5 sm:h-full" %>
              </div>
              <p class="sub_text mt-4">主要取り扱いツール：illustrator・Photoshop・Wordpress・Wixなど</p>
              <%# <div class="flex justify-around items-center mt-6 sm:mt-8">
                <%= image_tag 'big_category/web_production/xd_logo.svg', class: "h-6 sm:h-full" %>
                <%#<%= image_tag 'big_category/web_production/figma_logo.svg', class: "h-6 sm:h-full" %>
                <%#<%= image_tag 'big_category/web_production/studio_logo.svg', class: "h-6 sm:h-full" %>
                <%#<%= image_tag 'big_category/web_production/html_logo.svg', class: "h-6 sm:h-full" %>
                <%#<%= image_tag 'big_category/web_production/css_logo.svg', class: "h-6 sm:h-full" %>
              <%# </div> %>
            <%#</div>%>
          </div>
          <div class="bg_primaryPale_textbox py-6 sm:py-8 px-4 sm:px-6">
            <h4 class="h4_text">動画マーケティング</h4>
            <p class="base_text mt-4">動画SNSのアカウント運用・広告運用の支援</p>
            <div class="flex justify-around items-center mt-6 sm:mt-8">
              <%= image_tag 'big_category/movie_marketing/youtube_logo.svg', class: "h-5 sm:h-full" %>
              <%= image_tag 'big_category/movie_marketing/tiktok_logo.svg', class: "h-6 sm:h-full" %>
              <%= image_tag 'big_category/movie_marketing/instagram_logo.svg', class: "h-6 sm:h-full" %>
            </div>
            <p class="sub_text mt-4">主要取り扱いメディア：Youtube・TikTok・Instagramなど</p>
          </div>
          <div class="bg_primaryPale_textbox py-6 sm:py-8 px-4 sm:px-6">
            <h4 class="h4_text">補助金を活用したIT導入</h4>
            <p class="base_text mt-4">SNS・Web・ECに活用できる補助金の獲得支援</p>
            <div class="flex justify-around items-center mt-6 sm:mt-8">
              <%= image_tag 'big_category/hojyokin/jizoku.svg', class: "h-3.5 sm:h-6" %>
              <%= image_tag 'big_category/hojyokin/itdonyu.svg', class: "h-3.5 sm:h-6" %>
              <%= image_tag 'big_category/hojyokin/jigyo.svg', class: "h-3.5 sm:h-6" %>

            </div>
            <p class="sub_text mt-4">主要取り扱い補助金：持続化補助金・IT導入補助金・事業再構築補助金など</p>
          </div>
        </div>
        <p class="sub_text">※主要なジャンル・メディア・ツールを掲載しております。上記にないものでもIT関連であれば対応できますので、<br class="sm:hidden"><%= link_to "無料オンライン相談フォーム" ,free_consultation_path, class: "text-black underline cursor-pointer" %>より相談の申し込みをお願いします。</p>
      </div>
    </div>

    <div class="text-center">
      <div class="space-y-6">
        <h3 class="h3_text">特徴</h3>

        <div class="space-y-6 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-10">

          <div class=space-y-4>
            <h4 class="h4_text">1、審査・選抜されたコーチ陣</h4>
            <%= image_tag 'coach_member.png', class: "rounded mx-auto" %>
            <div class="text-left base_text">
              <ul>
                <li>・ビジネスマナー</li>
                <li>・コミュニケーション能力</li>
                <li>・該当ジャンルのIT/Webスキル</li>
              </ul>
              <p>を一定の基準でもつコーチをアサインします。</p>
            </div>
          </div>

          <div class=space-y-4>
            <h4 class="h4_text">2、伴走型の支援</h4>
            <%= image_tag 'comparison_table.png', class: "rounded mx-auto" %>
            <div class="text-left base_text">
              <p>制作物を外注いただき納品する請負型ではなく、クライアントの仕事を手伝う伴走型のサービスです。</p>
            </div>
          </div>

          <div class=space-y-4>
            <h4 class="h4_text">3、オンラインコミュニケーション</h4>
            <%= image_tag 'online_communication.png', class: "rounded mx-auto" %>
            <div class="text-left base_text">
              <p>・オンラインMTG（電話/Zoom/LINEビデオ）<br>「戦略/企画」「実装作業」「振り返り」などを画面共有しながら一緒に進めます。</p>
              <p>・チャット（LINE/Messenger/slack/メール）<br>リアルタイムでサポートすることが可能です。</p>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="space-y-6">
        <h3 class="h3_text text-center">顧客事例</h3>

        <div class="space-y-6 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-10">

          <div class="bg-primaryPale space-y-4 p-3 sm:p-4 rounded">
            <div class="flex items-center space-x-4">
              <%= image_tag 'client.svg',class: "w-10 rounded-full" %>
              <div class="space-y-2 sm:space-y-3">
                <p class="base_text">Yさん</p>
                <p class="base_text">広告企業</p>
              </div>
            </div>
            <p class="base_text font-bold">新規事業のWebサービスの企画・デザインをしたい</p>
            <p class="base_text">自社がやりたかったことの言語化・企画・デザイン制作のフォローをいただきました。ディレクションをサポート頂いただけでなく、PJに込める思いや設計思想の言語化の支援もしていただき、モヤモヤ感を上手く言語化でき助かりました。</p>
          </div>
          <div class="bg-primaryPale space-y-4 p-3 sm:p-4 rounded">
            <div class="flex items-center space-x-4">
              <%= image_tag 'client.svg',class: "w-10 rounded-full" %>
              <div class="space-y-2 sm:space-y-3">
                <p class="base_text">Wさん</p>
                <p class="base_text">会計事務所</p>
              </div>
            </div>
            <p class="base_text font-bold">Twitter・noteでブランディング・集客したい</p>
            <p class="base_text">noteの企画・立ち上げから記事の作成を支援いただき、半年間で30記事以上をアップできました。Twitter運用もマーケティングの視点でフォローいただき、それらの反響から案件の獲得・売上アップにつながり、費用対効果も感じています。</p>
          </div>
          <div class="bg-primaryPale space-y-4 p-3 sm:p-4 rounded">
            <div class="flex items-center space-x-4">
              <%= image_tag 'client.svg',class: "w-10 rounded-full" %>
              <div class="space-y-2 sm:space-y-3">
                <p class="base_text">Kさん</p>
                <p class="base_text">IT企業</p>
              </div>
            </div>
            <p class="base_text font-bold">ホームページをつくりたい</p>
            <p class="base_text">オンラインで画面共有しながら、一緒に制作を行い二人三脚でフォローいただき無事リリースできました。外注するとプロセスがブラックボックスになったり、こちらの意図と違うものができたりすることがありますが、コーチと一緒にできるのが良いです。</p>
          </div>

        </div>
        <div class="space-y-6 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-10">

          <div class="bg-primaryPale space-y-4 p-3 sm:p-4 rounded">
            <div class="flex items-center space-x-4">
              <%= image_tag 'client.svg',class: "w-10 rounded-full" %>
              <div class="space-y-2 sm:space-y-3">
                <p class="base_text">Kさん</p>
                <p class="base_text">飲食店</p>
              </div>
            </div>
            <p class="base_text font-bold">ECサイト構築とクラウドファンディングのPR</p>
            <p class="base_text">BASEでのネットショップ構築や、note・Instagram・Googleを活用したPR・広告宣伝をサポートしてもらいました。コーチという形態は小さい個人や企業には合っていると思います。打合せやチャットで教えてもらいながら、苦手だったPRが色々できるようになってきました。</p>
          </div>
          <div class="bg-primaryPale space-y-4 p-3 sm:p-4 rounded">
            <div class="flex items-center space-x-4">
              <%= image_tag 'client.svg',class: "w-10 rounded-full" %>
              <div class="space-y-2 sm:space-y-3">
                <p class="base_text">Kさん</p>
                <p class="base_text">コーチング企業</p>
              </div>
            </div>
            <p class="base_text font-bold">Youtubeを立ち上げたい</p>
            <p class="base_text">Youtubeの立ち上げの企画の仕方やキーワード選定、撮影や編集について、毎週打ち合わせをして教えてもらいました。また、会社として取り組むうえで、Youtubeからバックエンドのサービスの売上にどうつなげていくかも一緒に設計できありがたかったです。</p>
          </div>

        </div>
        <p class="sub_text text-center">※クライアントに掲載許可をいただき記載しております。</p>
      </div>

    </div>

    <div>
      <div class="space-y-6">
        <h3 class="h3_text text-center">料金</h3>
        <div class="bg-primaryPale p-3 sm:p-4 text-center">
          <h4 class="h4_text">ニーズに応じコーチをアサインし見積もり</h4>
        </div>
        <div class="sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-10">
          <div class="border-t sm:border-b border-blank space-y-2 py-4">
            <p class="base_text font-bold">ケース①</p>
            <dl class="space-y-2">
              <div class="flex">
                <dt class="base_text font-bold w-2/12">ニーズ</dt>
                <dd class="base_text w-10/12">Instagramアカウントの運用改善</dt>
              </div>
              <div class="flex">
                <dt class="base_text font-bold w-2/12"">内容</dt>
                <dd class="base_text w-10/12">週1の打ち合わせ＋投稿内容のレビュー</dt>
              </div>
              <div class="flex">
                <dt class="base_text font-bold w-2/12"">金額</dt>
                <dd class="base_text w-10/12">月20万円×6ヶ月</dt>
              </div>
            <dl>
          </div>
          <div class="border-t sm:border-b border-blank space-y-2 py-4">
            <p class="base_text font-bold">ケース②</p>
            <dl class="space-y-2">
              <div class="flex">
                <dt class="base_text font-bold w-2/12">ニーズ</dt>
                <dd class="base_text w-10/12">ECサイトの開設・運用</dt>
              </div>
              <div class="flex">
                <dt class="base_text font-bold w-2/12"">内容</dt>
                <dd class="base_text w-10/12">週2の打ち合わせ＋Q&A・チャットサポート</dt>
              </div>
              <div class="flex">
                <dt class="base_text font-bold w-2/12"">金額</dt>
                <dd class="base_text w-10/12">月40万円×3ヶ月</dt>
              </div>
            <dl>
          </div>
          <div class="border-t border-b border-blank space-y-2 py-4">
            <p class="base_text font-bold">ケース③</p>
            <dl class="space-y-2">
              <div class="flex">
                <dt class="base_text font-bold w-2/12">ニーズ</dt>
                <dd class="base_text w-10/12">Webサイトへの集客施策の企画・運用</dt>
              </div>
              <div class="flex">
                <dt class="base_text font-bold w-2/12"">内容</dt>
                <dd class="base_text w-10/12">戦略企画・ロードマップ策定支援＋伴走</dt>
              </div>
              <div class="flex">
                <dt class="base_text font-bold w-2/12"">金額</dt>
                <dd class="base_text w-10/12">月30万円×6ヶ月</dt>
              </div>
            <dl>
          </div>
        </div>
        <p class="sub_text text-center">※上記はあくまで例です。プロジェクトごとの見積もりのため、まずは<%= link_to "無料オンライン相談フォーム" ,free_consultation_path, class: "text-black underline cursor-pointer" %>よりオンライン相談にお申し込みください。</p>
      </div>
    </div>

    <div class="text-center space-y-6">
      <h3 class="h3_text text-center">流れ</h3>
      <div class="space-y-2">
        <div class="bg_primaryPale_textbox base_text p-2">資料ダウンロード・オンライン相談</div>
        <%= image_tag 'allow.svg',class: "mx-auto"  %>
        <div class="bg_primaryPale_textbox base_text p-2">ご提案・見積もり</div>
        <%= image_tag 'allow.svg',class: "mx-auto" %>
        <div class="bg_primaryPale_textbox base_text p-2">契約・サービス提供</div>
        <%= image_tag 'allow.svg',class: "mx-auto" %>
        <div class="bg_primaryPale_textbox base_text p-2">リピート契約・追加契約</div>
      </div>

      <div class="bg-white py-3 sm:py-6 px-5 sm:px-20 sm:space-x-2 sm:space-y-0 space-y-4 sm:flex justify-center">
        <div class="w-full space-y-2">
          <p class="base_text text-center text-subtext text-sm">▼資料ダウンロードはこちら</p>
          <%= link_to "資料ダウンロード", document_request_path, class: "button_sub mx-auto", id: "tops_fixed_footer_document_request" %>
        </div>
        <div class="w-full space-y-2">
          <p class="base_text text-center text-subtext text-sm">▼無料オンライン相談はこちら</p>
          <%= link_to "無料オンライン相談", free_consultation_path, class: "button_main mx-auto", id: "tops_fixed_footer_free_consultation" %>
        </div>
      </div>
    </div>

    <%#= link_to "問い合わせ", contact_path, class: "button_gradation bg_gradation", id: "tops_service_contact" %>



  </div>
  <%# サービスここまで　%>

        <%# <div class="bg-white py-12 sm:py-20 px-5 sm:px-30 space-y-6 sm:space-y-16 text-center">
        <h2 class="text-primary h2_text">ITコーチ募集</h2>
        <div class="space-y-4 sm:space-y-16">
          <div class="sm:flex space-y-4 sm:space-y-0">
            <div class="sm:space-y-10">
              <h3 class="h3_text text-center sm:text-left">SNS/EC/Webのスキルを活かして稼げるコーチになりませんか？</h3>
              <p class="hidden sm:block base_text text-left">「SNS運用・マーケティング」<br>「EC・ネットショップ構築・運用」<br>「Webマーケティング」<br>「Web制作」<br>のいずれかのスキルをお持ちで<br>ビジネスマナー・コミュニケーション力のある方へ</p>
            </div>
            <%= image_tag 'coach_recruitment.png',class: "mx-auto sm:mr-0 sm:w-2/5" %>
            <%#<p class="sm:hidden base_text">「SNS運用・マーケティング」<br>「EC・ネットショップ構築・運用」<br>「Webマーケティング」<br>「Web制作」<br>のいずれかのスキルをお持ちで<br>ビジネスマナー・コミュニケーション力のある方へ</p>
          </div>
          <h4 class="bg_primaryPale_textbox h4_text p-2">副業・業務委託で始められ<br class="sm:hidden">最低時給3000円以上〜の報酬が得られる<br>コーチになりませんか？</h4>
        </div>
        <%= link_to "ITコーチ募集ページへ", itcoach_recruitment_path, class: "button_gradation bg_gradation", id: "tops_itcoachbosyu_itcoach_recruit" %>
      <%#</div>
      <%# ITコーチ募集ここまで　%>

      <%#<div class="bg-white py-12 sm:py-20 px-5 sm:px-30 space-y-6 sm:space-y-16 text-center">
        <h2 class="text-primary h2_text">採用情報</h2>
        <h4 class="h4_text text-left sm:text-center">SNS・Webコンサルタント、SNS・Webマーケター、SNS・Web系インターンを募集</h4>
        <%= link_to "採用情報サイトへ", "https://recruit.itcoach.co.jp/", target: :_blank, class: "button_gradation bg_gradation", id: "tops_saiyo_recruit" %>
      <%#</div>%>
      <%# 採用情報ここまで　%>



  <div class="bg-white py-12 sm:py-20 px-5 sm:px-30 space-y-6 sm:space-y-16 text-center">
    <h2 class="text-primary h2_text">企業概要</h2>

    <div class="space-y-6 sm:space-y-10">
      <h3 class="h3_text">サービスミッション</h3>
        <h4 class="h4_text">「誰もがITで自由自在に表現できる世界をつくる」</h4>
    </div>

    <div class="space-y-6 sm:space-y-10">
      <h3 class="h3_text">企業概要</h3>

      <dl class="text-left">
        <div class="flex border-t border-blank py-4">
          <dt class="base_text font-bold w-3/12 sm:w-2/12">会社名</dt>
          <dd class="base_text w-9/12 sm:w-10/12">株式会社IT Coach</dt>
        </div>
        <div class="flex border-t border-blank py-4">
          <dt class="base_text font-bold w-3/12 sm:w-2/12">設立</dt>
          <dd class="base_text w-9/12 sm:w-10/12">2019年6月</dt>
        </div>
        <div class="flex border-t border-blank py-4">
          <dt class="base_text font-bold w-3/12 sm:w-2/12">住所</dt>
          <dd class="base_text w-9/12 sm:w-10/12">〒150-0002 東京都渋谷区渋谷3-6-2 エクラート渋谷5F</dt>
        </div>
        <div class="flex border-t border-blank py-4">
          <dt class="base_text font-bold w-3/12 sm:w-2/12">資本金</dt>
          <dd class="base_text w-9/12 sm:w-10/12">5,000,000円</dt>
        </div>
        <div class="flex border-t border-blank py-4">
          <dt class="base_text font-bold w-3/12 sm:w-2/12">事業内容</dt>
          <dd class="base_text w-9/12 sm:w-10/12">SNS・Web活用のオンラインコーチ</dt>
        </div>
        <div class="flex border-t border-b border-blank py-4">
          <dt class="base_text font-bold w-3/12 sm:w-2/12">認定資格</dt>
          <dd class="base_text w-9/12 sm:w-10/12">情報処理支援機関「スマートSMEサポーター」（経済産業省認定）</dt>
        </div>
      </dl>

      <div class="flex justify-between text-left">
        <div class="flex items-center space-x-4">
          <%= image_tag 'ceo.png',class: "rounded-full" %>
          <div class="space-y-2 sm:space-y-3">
            <p class="base_text">代表取締役 <br class="sm:hidden">小松 遊気</p>
            <p class="base_text text-left hidden sm:block">2010年4月よりnetベンチャーにてECコンサルティング事業に携わる。<br>2011年11月よりリクルートへ入社し7年勤務。中小〜大手企業の広告・マーケティングを支援し累計100社以上と取引を行う。Web制作・広告運用のプロジェクトマネジャーとして担当部門のトップクライアントを担当後、マネジメントと企画職を兼務。<br>2019年1月より独立し、Webサービス「Member」を立ち上げ東証マザーズ上場企業グループへ事業売却。<br>Web業界の仕事を10年経験（Webエンジニア・デザイナー・マーケター・セールス）してきた挫折と成功体験からIT Coachを創業。</p>
          </div>
        </div>
        <div class="flex items-end space-x-4 min-w-max">
          <%= link_to "https://twitter.com/komatsu_0105" do %>
            <div class="bg-twitter rounded-full p-2 inline-block">
              <%= image_tag 'twitter_logo.svg',class: "w-6 h-6 p-0.5" %>
            </div>
          <% end %>
          <%= link_to "https://note.com/komatsu0105" do %>
            <div class="bg-note rounded-full p-2 inline-block">
              <%= image_tag 'note_logo.svg',class: "w-6 h-6 p-0.5" %>
            </div>
          <% end %>
        </div>
      </div>
      <p class="base_text text-left sm:hidden">2010年4月よりnetベンチャーにてECコンサルティング事業に携わる。<br>2011年11月よりリクルートへ入社し中小企業〜大手企業の事業開発・マーケティングを支援し累計100社以上と取引し7年勤務。Web制作・広告運用のプロジェクトマネジャーとして担当部門のトップクライアントを担当後、マネジメントと企画職を兼務。<br>2019年1月より独立し、Webサービス「Member」を立ち上げ東証マザーズ上場企業グループへ事業売却。<br>Web業界の仕事を10年経験（Webエンジニア・デザイナー・マーケター・セールス）してきた挫折と成功体験からIT Coachを創業。</p>
    </div>
  </div>
  <%# 企業概要ここまで　%>

  <div class="bg-white py-12 sm:py-20 px-5 sm:px-30 space-y-6 sm:space-y-16 text-center">
    <h2 class="text-primary h2_text">ニュース</h2>
    <dl class="text-left">

      <div class="sm:flex  border-t border-blank py-4 space-y-2 sm:space-y-0">
        <dt class="base_text font-bold sm:w-3/12">2019年6月17日</dt>
        <dd class="base_text sm:w-9/12">株式会社メンバーを設立</dt>
      </div>

      <div class="sm:flex border-t border-b border-blank py-4 space-y-2 sm:space-y-0">
        <dt class="base_text font-bold sm:w-3/12">2020年4月1日</dt>
        <dd class="base_text sm:w-9/12"><%= link_to "立ち上げメンバー募集サイト「Member」を東証マザーズ上場企業グループのログリー・インベストメント株式会社へ事業売却", "https://note.com/komatsu0105/n/nbb929281cd3e" , target: "_blank", class: "underline" %></dt>
      </div>

      <div class="sm:flex border-b border-blank py-4 space-y-2 sm:space-y-0">
        <dt class="base_text font-bold sm:w-3/12">2021年6月1日</dt>
        <dd class="base_text sm:w-9/12"> <%= link_to "株式会社IT Coachに社名変更", "https://prtimes.jp/main/html/rd/p/000000003.000048962.html" , target: "_blank", class: "underline" %></dt>
      </div>
      <div class="sm:flex border-b border-blank py-4 space-y-2 sm:space-y-0">
        <dt class="base_text font-bold sm:w-3/12">2021年6月16日</dt>
        <dd class="base_text sm:w-9/12"> <%= link_to "資金調達を実施（経済産業省・事業再構築補助金に採択）", "https://prtimes.jp/main/html/rd/p/000000004.000048962.html" , target: "_blank", class: "underline" %></dt>
      </div>

      <div class="sm:flex border-b border-blank py-4 space-y-2 sm:space-y-0">
        <dt class="base_text font-bold sm:w-3/12">2021年7月2日</dt>
        <dd class="base_text sm:w-9/12">資金調達を実施（経済産業省・持続化補助金に採択）</dt>
      </div>

      <div class="sm:flex border-b border-blank py-4 space-y-2 sm:space-y-0">
        <dt class="base_text font-bold sm:w-3/12">2021年7月9日</dt>
        <dd class="base_text sm:w-9/12">本社オフィスを渋谷に移転</dt>
      </div>

      <div class="sm:flex border-b border-blank py-4 space-y-2 sm:space-y-0">
        <dt class="base_text font-bold sm:w-3/12">2021年7月14日</dt>
        <dd class="base_text sm:w-9/12"> <%= link_to "事業再構築補助金の採択事例がインタビュー掲載されました", "https://hojyokin-reali.com/jigyou/2021/07/14/interview-3/" , target: "_blank", class: "underline" %></dt>
      </div>

      <div class="sm:flex border-b border-blank py-4 space-y-2 sm:space-y-0">
        <dt class="base_text font-bold sm:w-3/12">2021年8月20日</dt>
        <dd class="base_text sm:w-9/12"> <%= link_to "情報処理支援機関「スマートSMEサポーター」に認定されました（経済産業省中小企業庁より認定）", "https://smartsme.secure.force.com/smartsmesearch/SSS_SearchDetailPage?id=0010K00002XxGLJQA3" , target: "_blank", class: "underline" %></dt>
      </div>

    </dl>
  </div>
    <%# ニュースここまで　%>

</div>

<div class="fixed sm:hidden bottom-0 right-0 left-0">
  <div class="bg-white py-3 sm:py-6 px-5 sm:px-30 sm:space-y-0 space-x-2 flex justify-center text-sm">
    <%= link_to "資料ダウンロード", document_request_path, class: "button_sub", id: "tops_fixed_footer_document_request" %>
    <%= link_to "無料オンライン相談", free_consultation_path, class: "button_main", id: "tops_fixed_footer_free_consultation" %>

    <%#= <%= link_to "問い合わせ", contact_path, class: "button_gradation bg_gradation", id: "tops_service_contact" %>
  </div>
</div>