<% content_for :javascripts do %>
  <%= javascript_pack_tag "utilities/button" %>
  <%= javascript_pack_tag "utilities/text" %>
<% end %>

<div class="space-y-4 sm:space-y-6 bg-backgroundGray">
  <div class="bg-white py-12 sm:py-20 px-5 sm:px-30 text-center sm:text-left space-y-6">

    <div class="sm:hidden">
      <h1 class="text-primary h1_text">SNS・EC・WebマーケティングにプロのITコーチが伴走</h1>
      <%= image_tag 'key_visual.png',class: "mx-auto" %>
      <p class="base_text">「IT Coach」は<br class="sm:hidden">貴社がSNSやWebを活用し実現したいことを<br>できるようになるまで<br class="sm:hidden">プロのITコーチが伴走・支援するサービスです。</p>
    </div>
    <div class="hidden sm:flex">
      <div>
        <h1 class="text-primary h1_text">SNS・EC・WebマーケティングにプロのITコーチが伴走</h1>
        <p class="base_text">「IT Coach」は<br class="sm:hidden">貴社がSNSやWebを活用し実現したいことを<br>できるようになるまで<br class="sm:hidden">プロのITコーチが伴走・支援するサービスです。</p>
      </div>
      <%= image_tag 'key_visual.png',class: "mx-auto" %>
    </div>
  </div>

  <div class="bg-white py-12 sm:py-20 px-5 sm:px-30 sm:text-left space-y-6">
    <h2 class="text-primary h2_text text-center">こんな悩みがありませんか？</h2>
    <div  class="sm:flex">
      <div class="sm:pr-5 sm:w-6/12">
        <div class="flex items-center">
          <%= image_tag 'problem.png',class: "rounded-full" %>
          <h4 class="h4_text ml-4">社内にSNS・Web活用のノウハウがなく困っている</h4>
        </div>
        <p class="base_text mt-4">自社で独自にSNS・Webを活用したマーケティングを行っているが、実施していることが適性かの判断ができていない。工数を必要以上にかけてしまっている。成果に満足できていない。</p>
      </div>
      <div class="sm:pl-5 sm:w-6/12 mt-6 sm:mt-0">
        <div class="flex items-center">
          <%= image_tag 'problem.png',class: "rounded-full" %>
          <h4 class="h4_text ml-4">IT・Webについては外注しており社内にノウハウが残らない</h4>
        </div>
        <p class="base_text mt-4">外注先に任せており、自社でコントロールすることができていない。現状のSNS・Web活用の戦略・技術選定・コスト・成果が妥当なのかの判断ができていない。</p>
      </div>
    </div>
    <h4 class="h4_text text-primary text-center">・IT Coachならプロに習いながら社内にノウハウが残せる！・外注先に支払っていた膨大なコストを削減できる！</h4>

  </div>
</div>


<%= link_to "問い合わせ", contact_path, class: "button_gradation bg_gradation" %>

<%= link_to "ITコーチ募集ページへ", itcoach_recruitment_path, class: "button_gradation bg_gradation" %>

<%= link_to "採用情報サイトへ", root_path, class: "button_gradation bg_gradation" %>