<header class="flex justify-between items-center px-5 py-4 sm:px-10 sm:py-6 shadow fixed top-0 w-full bg-white">
    <div>
      <%= link_to root_path, id: "header_top" do %>
        <%= image_tag 'logo.png' , class: "h-6 sm:h-full" %>
      <% end %>
    </div>
    <div class="hidden sm:block">
      <ul class="flex justify-between items-center space-x-6 font-bold">
        <li><%= link_to "資料ダウンロード", document_request_path, id: "header_document_request" %></li>
        <li><%= link_to "無料オンライン相談", free_consultation_path, id: "header_free_consultation" %></li>
      </ul>
    </div>
    <% if false %>
      <div class="flex space-x-2 sm:space-x-4">

        <%= image_tag 'menu.svg', class: "h-6 sm:h-full my-1" %>

      </div>
    <% end %>
</header>