<% content_for :title, "問い合わせ | 株式会社IT Coach" %>
<% content_for :meta_description, "問い合わせページです。「社内にSNS・Web活用のノウハウがなく困っている」「IT・Webについては外注しており社内にノウハウが残らない」という企業様はお問い合わせください。" %>
<% content_for :meta_keywords, "SNSマーケティング,EC・ネットショップ,Webマーケティング,Web制作,Webコンサル,ECコンサル,Webディレクション,戦略,企画,内製化,インハウス" %>
<% content_for :og_title, "問い合わせ | 株式会社IT Coach" %>
<% content_for :og_description, "問い合わせページ" %>

<div class="space-y-4 sm:space-y-6 bg-backgroundGray pt-4 sm:pt-6 pb-20 sm:pb-30">
  <div class="py-12 sm:py-20 bg-white px-5 sm:px-30">
    <div class="text-center">
      <h1 class="h1_text">問い合わせ</h1>
      <p class="base_text mt-8 sm:mt-6">サービスにご興味をもっていただきありがとうございます。以下のフォームよりご入力ください。</p>
      <p class="sub_text mt-3">※すべて必須入力（「その他」の項目を除く）</p>
    </div>

    <%= form_with model: @form, url: contact_path, local: true, method: :post, class: "space-y-8" do |form| %>

      <%= render "shared/errors", model: @form %>

      <div class="space-y-4">
        <%= form.label :name, "名前", class: "form_label" %>
        <%= form.text_field :name, placeholder: "名前", class: "text_field w-full sm:w-6/12", id: "contact_name" %>
      </div>
      <div class="space-y-4">
        <%= form.label :company, "会社名", class: "form_label" %>
        <%= form.text_field :company, placeholder: "会社名", class: "text_field w-full sm:w-6/12" %>
      </div>
      <div class="space-y-4">
        <%= form.label :role, "役職", class: "form_label" %>
        <%= form.text_field :role, placeholder: "役職", class: "text_field w-full sm:w-6/12" %>
      </div>
      <div class="space-y-4">
        <%= form.label :email, "メールアドレス", class: "form_label" %>
        <%= form.text_field :email, placeholder: "メールアドレス", class: "text_field w-full sm:w-6/12" %>
      </div>
      <div class="space-y-4">
        <%= form.label :telephone, "電話番号", class: "form_label" %>
        <%= form.text_field :telephone, placeholder: "電話番号", class: "text_field w-full sm:w-6/12", id: "contact_telephone" %>
      </div>

      <div>
        <label class="form_label">サービスを知ったきっかけ</label>
        <span class="sub_text">（複数選択可）</span>
        <div class="space-y-4 grid grid-cols-2 sm:grid-cols-4">
          <%= form.collection_check_boxes :source_route_ids, SourceRoute.all, :id, :title do |b| %>
            <%= b.label class:"flex items-center space-x-2" do %>
              <%= b.check_box class: "h-5 w-5" %>
              <span class="block base_text"><%= b.text %></span>
            <% end %>
          <% end %>
        </div>
      </div>

      <div>
        <label class="form_label">ITコーチに相談したいジャンル</label>
        <span class="sub_text">（複数選択可）</span>
          <div class="space-y-8 mt-4">
            <% BigCategory.all.each do |big_category| %>
              <div>
                <label class="base_text block font-bold"><%= big_category.name %></label>
                <div class="space-y-4 grid grid-cols-2 sm:grid-cols-4">
                  <%= form.collection_check_boxes :category_ids, big_category.categories, :id, :name do |b| %>
                    <%= b.label class:"flex items-center space-x-2" do %>
                      <%= b.check_box class: "h-5 w-5" %>
                      <span class="block base_text"><%= b.text %></span>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
      </div>

      <div class="space-y-4">
        <%= form.label :will, "ITコーチを活用し実現したいこと", class: "form_label" %>
        <%= form.text_area :will, placeholder: "実現したいこと", rows: 4, class: "text_field w-full sm:w-6/12", id: "contact_will", maxlength: 255 %>
      </div>

      <div class="space-y-4">
        <%= form.label :budget, "予算", class: "form_label" %>
        <span class="sub_text">（SNS・EC・Webの制作・開発・広告などの月額予算目安）</span>
        <%= form.select :budget, Budget.all.pluck(:range, :id), {}, class: "block text_field w-full sm:w-6/12 bg-white", id: "contact_budget" %>
      </div>

      <div class="space-y-4 w-full sm:w-6/12">
        <label class="form_label">ITコーチに求める能力</label>
        <div class="grid grid-cols-5 text-center">
          <label class="col-span-2"></label>
          <% AbilityLevel.all.each do |level| %>
            <label class="sub_text"><%= level.name %></label>
          <% end %>
        </div>
        <div class="items-center grid grid-cols-5">
          <%= form.label :tech_ability, "技術力", class: "base_text col-span-2" %>
          <% AbilityLevel.all.each do |level| %>
            <div class="text-center">
              <%= form.radio_button :tech_ability, level.id, class: "w-6 h-6" %>
            </div>
          <% end %>
        </div>
        <div class="items-center grid grid-cols-5">
          <%= form.label :business_manner, "ビジネスマナー", class: "base_text  col-span-2" %>
          <% AbilityLevel.all.each do |level| %>
            <div class="text-center">
              <%= form.radio_button :business_manner, level.id, class: "w-6 h-6" %>
            </div>
          <% end %>
        </div>
        <div class="items-center grid grid-cols-5">
          <%= form.label :communication_ability, "コミュニケーション能力", class: "base_text col-span-2" %>
          <% AbilityLevel.all.each do |level| %>
            <div class="text-center">
              <%= form.radio_button :communication_ability, level.id, class: "w-6 h-6" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="space-y-4">
        <%= form.label :other, "その他", class: "form_label" %>
        <%= form.text_area :other, placeholder: "その他問い合わせ事項がありましたらご記入ください。", rows: 4, class: "text_field w-full sm:w-6/12", maxlength: 255 %>
      </div>

      <div class="space-y-4">
      <div class="flex items-center space-x-4">
        <%= form.check_box :privacy, class: "text_field inline-block w-6 h-6", id: "contact_privacy" %>
        <%= form.label :privacy, "プライバシーポリシーに同意する", class: "base_text" %>
      </div>
        <p class="sub_text underline cursor-pointerr"><%= link_to "プライバシーポリシーはこちら", privacy_path %></p>
      </div>

      <%= form.submit "送信する", class: "button_gradation bg_gradation", id: "contact_submit" %>

    <% end %>

  </div>
</div>