<% content_for :javascripts do %>
  <%= javascript_pack_tag "utilities/button" %>
<% end %>

<%= form_with model: @form, url: contact_path, local: true, method: :post do |form| %>

  <%= form.label :name %>
  <%= form.text_field :name, class: "text_field" %>

  <% BigCategory.all.each do |big_category| %>
    <div class="mt-4">
      <h3><%= big_category.name %></h3>
      <%= form.collection_check_boxes :category_ids, big_category.categories, :id, :name %>
    </div>
  <% end %>

  <%= form.submit "送信する", class: "button_gradation bg_gradation" %>
<% end %>
