<% content_for :title, "ITコーチエントリー | 株式会社IT Coach" %>
<% content_for :meta_description, "ITコーチ（業務委託）へのエントリーページです。SNSマーケティング,EC・ネットショップ,Webマーケティング,Web制作などのスキルをお持ちでビジネスマナー,コミュニケーション能力のある方のエントリーをお待ちしております。" %>
<% content_for :meta_keywords, "業務委託,エントリー,スキル,SNSマーケティング,EC・ネットショップ,
Webマーケティング,Web制作,ビジネスマナー,コミュニケーション能力" %>
<% content_for :og_title, "ITコーチエントリー | 株式会社IT Coach" %>
<% content_for :og_description, "ITコーチへのエントリー" %>

<div class="space-y-8 sm:space-y-12 bg-backgroundGray pt-4 sm:pt-6 pb-20 sm:pb-30">
  <div class="py-12 sm:py-20 bg-white px-5 sm:px-30">
    <div>
      <h1 class="h1_text text-center">ITコーチエントリー</h1>
      <p class="base_text mt-6">ご興味をもっていただきありがとうございます。<br class="sm:hidden">以下のフォームよりご入力ください。</p>
      <div class="space-y-2 mt-4">
        <p class="sub_text">※すべて必須記入項目となります。（ポートフォリオのURLを除く）</p>
        <p class="sub_text">※書面審査結果は、エントリーフォームへの入力後1週間以内に登録メールアドレスへお送りします。</p>
        <%#= <p class="sub_text">※合格の場合は、次のプロセスの面談審査へ進んでいただけます。</p> %>
        <p class="sub_text">※不合格の場合も、審査結果連絡から90日後に再エントリーが可能です。</p>
      </div>

      <%= form_with model: @form, url: itcoach_entry_path, local: true, method: :post, class: "space-y-16" do |form| %>

        <%= render "shared/errors", model: @form %>

        <div class="space-y-4">
          <div class="flex items-center">
            <%= form.label :name, "名前", class: "form_label" %>
            <span class="sub_text">（必須）</span>
          </div>
          <%= form.text_field :name, placeholder: "名前", class: "text_field w-full sm:w-6/12", id: "entry_name" %>
        </div>
        <div class="space-y-4">
          <div class="flex items-center">
            <%= form.label :email, "メールアドレス", class: "form_label" %>
            <span class="sub_text">（必須）</span>
          </div>
          <%= form.text_field :email, placeholder: "メールアドレス", class: "text_field w-full sm:w-6/12" %>
        </div>
        <div class="space-y-4">
          <div class="flex items-center">
            <%= form.label :telephone, "電話番号", class: "form_label" %>
            <span class="sub_text">（必須）</span>
          </div>
          <%= form.text_field :telephone, placeholder: "電話番号", class: "text_field w-full sm:w-6/12", id: "entry_telephone" %>
        </div>

      <div>
        <div class="flex items-center">
          <label class="form_label">サービスを知ったきっかけ</label>
          <span class="sub_text">（必須）※複数選択可</span>
        </div>
        <div class="space-y-4 grid grid-cols-2 sm:grid-cols-4">
          <%= form.collection_check_boxes :source_route_ids, SourceRoute.all, :id, :title do |b| %>
            <%= b.label class:"flex items-center space-x-2" do %>
              <%= b.check_box class: "h-5 w-5" %>
              <span class="block base_text"><%= b.text %></span>
            <% end %>
          <% end %>
        </div>
      </div>

        <div>
          <div class="flex items-center">
            <label class="form_label">保有スキル</label>
            <span class="sub_text">（必須）※複数選択可</span>
          </div>
            <div class="space-y-8 mt-4">
              <div class="space-y-4 grid grid-cols-2 sm:grid-cols-4">
                <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
                  <%= b.label class:"flex items-center space-x-2" do %>
                    <%= b.check_box class: "h-5 w-5" %>
                    <span class="block base_text"><%= b.text %></span>
                  <% end %>
                <% end %>
              </div>
            </div>
        </div>

        <div id="career" class="sm:w-6/12">
          <div class="flex items-center">
            <label class="form_label">キャリア</label>
            <span class="sub_text">（必須）</span>
          </div>
          <%= form.fields_for :careers do |career| %>
            <%= render "itcoach/entries/career_fields", f: career %>
          <% end %>
          <div>
            <%= link_to_add_association '＋キャリアを追加する', form, :careers, data: { association_insertion_method: 'before' }, class: "button_add_form" %>
          </div>
        </div>

        <div id="portfolio" class="sm:w-6/12">
          <label class="form_label">ポートフォリオ</label>
          <%= form.fields_for :portfolios do |portfolio| %>
            <%= render "itcoach/entries/portfolio_fields", f: portfolio %>
          <% end %>
          <div>
            <%= link_to_add_association '＋ポートフォリオを追加する', form, :portfolios, data: { association_insertion_method: 'before' }, class: "button_add_form" %>
          </div>
        </div>

        <div class="space-y-4">
          <div class="flex items-center">
            <%= form.label :specialty, "得意なこと", class: "form_label" %>
            <span class="sub_text">（必須：200文字以内）</span>
          </div>
          <%= form.text_area :specialty, rows: 5, placeholder: "（例1）Instagramで美容院・クリニックの集客支援をするのが得意です。\n（例2）ホームページ作成が得意です。20社以上のHPを主にWordpressでつくってきました。", class: "text_field w-full sm:w-6/12", id: "entry_specialty", maxlength: 255 %>
        </div>

        <div class="space-y-4">
          <div class="flex items-center">
            <label class="form_label">希望時給</label>
            <span class="sub_text">（必須）</span>
          </div>
          <div class="sm:flex sm:items-center sm:w-6/12 space-y-2 sm:space-y-0 sm:space-x-4">
            <%= form.select :minimum_fee_id, MinimumFee.all.pluck(:yen, :id), { prompt: "最低時給" }, class: "block text_field w-full bg-white", id: "entry_minimum_fee" %>
            <p class="text-center">〜</p>
            <%= form.select :max_fee_id, MaxFee.all.pluck(:yen, :id), { prompt: "最高時給" }, class: "block text_field w-full bg-white", id: "entry_max_fee" %>
          </div>
        </div>

      <div class="space-y-4">
        <div class="flex items-center">
          <%= form.label :other, "その他", class: "form_label" %>
          <span class="sub_text">（任意：200文字以内）</span>
        </div>
        <%= form.text_area :other, placeholder: "その他問い合わせ事項がありましたらご記入ください。", rows: 4, class: "text_field w-full sm:w-6/12", maxlength: 255 %>
      </div>

        <div class="space-y-4">
          <div class="flex items-center space-x-4">
            <%= form.check_box :privacy, class: "text_field inline-block w-6 h-6", id: "entry_privacy" %>
            <%= form.label :privacy, "プライバシーポリシーに同意する", class: "base_text" %>
          </div>
          <p class="sub_text underline cursor-pointerr"><%= link_to "プライバシーポリシーはこちら", privacy_path %></p>
        </div>

        <%= form.submit "送信する", class: "button_gradation bg_gradation", id: "itcoach_entry_submit" %>

      <% end %>


    </div>
  </div>
</div>