<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-P6LCWBD');</script>
      <!-- End Google Tag Manager -->
    <% end %>

    <meta name="msapplication-square70x70logo" content="/favicons/site-tile-70x70.png">
    <meta name="msapplication-square150x150logo" content="/favicons/site-tile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="/favicons/site-tile-310x150.png">
    <meta name="msapplication-square310x310logo" content="/favicons/site-tile-310x310.png">
    <meta name="msapplication-TileColor" content="#0078d7">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicons/favicon.ico">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="36x36" href="/favicons/android-chrome-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/favicons/android-chrome-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="/favicons/android-chrome-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/android-chrome-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/favicons/android-chrome-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144" href="/favicons/android-chrome-144x144.png">
    <link rel="icon" type="image/png" sizes="152x152" href="/favicons/android-chrome-152x152.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/favicons/android-chrome-256x256.png">
    <link rel="icon" type="image/png" sizes="384x384" href="/favicons/android-chrome-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/favicons/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="36x36" href="/favicons/icon-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/favicons/icon-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="/favicons/icon-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/icon-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/favicons/icon-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144" href="/favicons/icon-144x144.png">
    <link rel="icon" type="image/png" sizes="152x152" href="/favicons/icon-152x152.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/favicons/icon-160x160.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="196x196" href="/favicons/icon-196x196.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/favicons/icon-256x256.png">
    <link rel="icon" type="image/png" sizes="384x384" href="/favicons/icon-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/favicons/icon-512x512.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/icon-16x16.png">
    <link rel="icon" type="image/png" sizes="24x24" href="/favicons/icon-24x24.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/icon-32x32.png">
    <link rel="manifest" href="/favicons/manifest.json">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if content_for? :title %>
      <title><%= yield :title %></title>
    <% else %>
      <title>株式会社IT Coach</title>
    <% end %>

    <% if content_for? :meta_description %>
      <meta name="description" content="<%= yield :meta_description %>">
    <% else %>
      <meta name="description" content="株式会社IT Coachのサービスサイトです。">
    <% end %>

    <meta name="keywords" content="SNS運用,SNSマーケティング,ECサイト・ネットショップ,ECサイト制作,Webマーケティング,Web制作,ITコーチ,ITコンサル,Webコンサル,内製化,インハウス<%= yield :meta_keywords if content_for? :meta_keywords %>" />
    <meta property="og:site_name" content="IT Coach">

    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= "#{root_url.chop}#{request.path_info}" %>">

    <% if content_for? :og_title %>
      <meta property="og:title" content="<%= yield :og_title %>">
    <% else %>
      <meta property="og:title" content="株式会社IT Coach">
    <% end %>

    <% if content_for? :og_description %>
      <meta property="og:description" content="<%= yield :og_description %>" />
    <% else %>
      <meta property="og:description" content="SNS・EC・Webの制作・マーケティングにプロのITコーチが伴走" />
    <% end %>

    <!-- OGP -->
    <meta property="og:image" content="<%= "#{root_url}/top_ogp.png" %>">
    <!-- FacebookのOGP -->
    <meta name="" content="" />
    <!-- TwitterのOGP -->
    <meta name="twitter:card" content="summary_large_image" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
    <%= yield :javascripts %>
  </head>
  <body>

    <% if Rails.env.production? %>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P6LCWBD"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <% end %>

    <%= render "shared/header" %>
    <div class="sm:mx-auto pt-16 sm:pt-20">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>